<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <h1> Welcome to Showrajits Recipe Buddy </h1>	
    <h2 style = "position:absolute; font-size: 30px; color:blue;">Hello there, Welcome to my website, my name is Showrajit and developed this web application with the purpose to help people manage their diet by displaying nutritional facts such as:</h2>
    <p style = "position:absolute; top:200px; left: 10px; font-size: 40px; color:blue;" >1.)Carbs</p>
    <p style = "position:absolute; top:235px; left: 10px; font-size: 40px; color:blue"; > 2.)Fats</p>
    <p style = "position:absolute; top:270px; left: 10px; font-size: 40px; color:blue;">3.)Protein</p>
    <p style = "position:absolute; top:305px; left: 10px; font-size: 40px; color:blue;">4.)Salt</p>
    <p style = "position:absolute; top:340px; left: 10px; font-size: 40px; color:blue;">5.)Sugar</p>

 <p style="position:absolute; top:430px;" ><a href="./">home</a></p>
  </body>
</html>
