<!doctype html>
  <html>
    <head> 
     <title>Search page for <%=shopName%></title>
    </head>
       <h1> <%=shopName%> Add book </h1>
       <form method="POST" action="/bookadded">
      <p>Username:<input id="username" type="text" name="username" /></p>
      <p>Name:<input id="name" type="text" name="name" /></p>
      <p>Typical values: <input id="typicalvalue" type="number" name="typicalvalue" /></p>
      <p>Unit of the Typical value:<input id="unitvalue" type="text" name="unitvalue" /></p>
      <p>Carbs:<input id="carb" type="text" name="carb" /></p>
      <p>Fat:<input id="fat" type="text" name="fat" /></p>
      <p>Protein:<input id="protein" type="text" name="protein" /></p>
      <p>Salt:<input id="salt" type="text" name="salt" /></p>
      <p>Sugar:<input id="sugar" type="text" name="sugar" /></p>
       <input type="submit" value="Add Food"/>
       </form>
	<p><a href="./">home</a></p>
     </body>
  </html>
