<!doctype html>
<html>   
<head>
   
    <title>Delete user from <%=shopName%></title>
  </head>
  <body>
    <h1>delete user from <%=shopName%></h1>
    <form method="POST" action="/userdeleted">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="Delete" />
      </form>
  </body>
</html>
