<!doctype html>
<html>   
<head>
   
    <title>Delete user from <%=shopName%></title>
  </head>
  <body>
    <h1>delete user from <%=shopName%></h1>
    <form method="POST" action="/userdeleted">
        <p>name: <input id="name" type="text" name="name" value="name" /></p>
        <input type="submit" value="Delete" />
      </form>
<p><a href="./">home</a></p>
  </body>
</html>
