<!doctype html>
<html>
  <head>
    <title>Search <%=shopName%></title>
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/weatherpage" method="GET">
      <p>What City do you want to see?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
<p><a href="./">home</a></p>
  </body>
</html>
